@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

* {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

*::selection {
  color: #7fff00;
  background: rgba(0, 145, 199, 0.5);
}

header {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 40px;
  flex: 1;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 1em;
  height: 100%;
  color: white;
}

body {
  background-image: url("https://img.freepik.com/free-photo/3d-rendering-hexagonal-texture-background_23-2150796421.jpg?t=st=1742291789~exp=1742295389~hmac=92042eced38ed624981667d0a1ccc6cb63aab945f64b9b45a9a962e51426ba92&w=1060");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  /* background-attachment: scroll; */
  margin: 0;
}

p {
  margin-left: 2%;
}

h1 {
  color: red;
  font-size: 400%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

li, a, p, h2 {
  color: white;
  list-style-type: disc;
}

li, p, h2 {
  font-size: 150%;
}

.hidden {
  opacity: 0.5;
  transition: opacity 0.3s ease;
  font-size: 150%;
}

.hidden:hover {
  opacity: 1;
}

img {
  width: 20%;
  border-radius: 10%;
}

h2.center {
  text-align: center;
}

img.center {
  display: block;
  margin: auto;
}

.petit {
  font-size: 120%;
}

ul.petit {
  font-size: 80%;
}
